@import "@fontsource/lato";

* {
    font-family: "Lato", sans-serif;
}

h1 {
    margin-top: 0;
}

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

.zero {
    color: black;
    text-decoration: none;
}
.zero:visited {
    color: black;
}

.align {
    text-align: left;
    width: 60vw;
    margin: 0 auto;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    text-align: center;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

main {
    padding-top: 6em;
}

@media only screen and (max-width: 600px) {
    .align {
        width: 85vw;
    }
}

.dark .zero {
    color: white;
}
.dark .zero:visited {
    color: white;
}
.dark a {
    color: #03da9d;
}
.dark a:visited {
    color: #03da9d;
}
.dark * {
    color: white;
}
.dark {
    background-color: #121212;
}