@import "@fontsource/lato";

* {
    font-family: "Lato", sans-serif;
}

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

.zero {
    color: black;
    text-decoration: none;
}
.zero:visited {
    color: black;
}

.align {
    text-align: left;
    width: 60vw;
    margin: 0 auto;
    justify-content: center;
}

body {
    text-align: center;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

main {
    padding-top: 5em;
}

@media only screen and (max-width: 600px) {
    .align {
        width: 85vw;
    }
}

@media (prefers-color-scheme: dark) {
    .zero {
        color: white;
    }
    .zero:visited {
        color: white;
    }
    a {
        color: #03DAC5;
    }
    a:visited {
        color: #03DAC5;
    }
    * {
        color: white;
    }
    body {
        background-color: #121212;
    }
}
  